<nav class="blue-grey darken-2">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">News Groupie</a>
      <a data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/notes"><i class="material-icons left">speaker_notes</i>Notebook</a></li>
        <li>
          <form action="/scrape" method="GET">
            <button type="submit" class="waves-effect waves-light btn-large" id="scrape">
              Grab Recent Articles
            </button>
          </form>
        </li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="/">Home</a></li>
        <li><a href="/notes">Notebook</a></li>
        <li>
          <form action="/scrape" method="GET">
            <button type="submit" class="waves-effect waves-light btn-large" id="scrape">
              Grab Recent Articles
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row" id="marquis">
  <div class="container">
    <div class="col s12 valign-wrapper" id="sizemarq">
      <div class="col s10 offset-s1" id="title">
        <h2 class="center-align">News Groupie</h2>
        <h5 class="center-align">your news with your community</h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align"><strong>Current News Articles</strong></h2>
      <h4 class="center-align">Click "Grab Recent Articles" above to get the freshest news.</h4>
      <hr>
      <h6>Below we have the articles from the most recent "grab". To make sure you have the freshest news, just click "Grab Recent Articles" before you start browsing our titles below.</h6>
      <h6>If you want to save an article to your Notebook, where you and your friends can write notes on the article, then just click "save" next to the article you want.</h6>
      <hr>
    </div>
  </div>
</div>

<div class="container" id="currentArticles">
  <div class="row">
    <div class="col s12">
      <ul class="collection">
        {{#each doc}}
          <li class="collection-item avatar">
            <i class="material-icons circle teal accent-4">library_books</i>
            <span class="notSeen">{{this._id}}</span>
            <a href={{this.link}} target="_blank">Go to the Article</a>
            <br><br>
            <span class="title"><strong>{{this.title}}</strong></span>
            <br>
            <p>{{this.blurb}}</p>
            <br>
            <span class="secondary-content saver">save<i class="material-icons right">turned_in_not</i></span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/home.js"></script>