body {
	background-image: url(../img/brushed.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.button-collapse:hover {
	cursor: pointer;
}

#marquis {
	background-image: url("../img/marquis.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}

#sizemarq {
	height: 500px;
}

#title {
	background-color: rgba(255, 255, 255, .9);
	border-radius: 40px;
	padding: 20px;
	font-family: 'Sigmar One', cursive;
	color: #455a64;
}

.notSeen {
	display: none;
}

.saver:hover {
	cursor: pointer;
}

.noter:hover {
	cursor: pointer;
}